* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #F3F7FA;
}
.container {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  gap:20px;
}

.aside, .card-item, .header {
  background: #fff;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgb(184, 184, 184);
}

.layout {
  width: 502px;
  display: flex;
  flex-direction: column;
  gap:20px
}
.logo-group {
  text-align: center;
  padding: 50px 0 50px;
}